<!DOCTYPE html>
<html>

<head>

	<!-- THE BIG META -->
	<title>بعدش چی میشه؟ آینده‌های محتمل برای کووید-۱۹، بر اساس شبیه‌سازی‌هایی بازی‌ناک</title>  <!-- TRANSLATE -->
	<meta name="description" content="یک راهنمای تعاملی" />  <!-- TRANSLATE: content -->
	<link rel="icon" type="image/png" href="favicon.png">
	<meta charset="utf-8">
	<base target="_blank">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="بعدش چی میشه؟ آینده‌های محتمل برای کووید-۱۹، بر اساس شبیه‌سازی‌هایی بازی‌ناک<">  <!-- TRANSLATE: content -->
	<meta name="twitter:description" content="یک راهنمای تعاملی">  <!-- TRANSLATE: content -->
	<meta name="twitter:image" content="https://mehdi-mostafavi.github.io/covid-19/sharing/thumbnail.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="بعدش چی میشه؟ آینده‌های محتمل برای کووید-۱۹، بر اساس شبیه‌سازی‌هایی بازی‌ناک<">  <!-- TRANSLATE: content -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://mehdi-mostafavi.github.io/COVID-19">
	<meta property="og:image" content="https://mehdi-mostafavi.github.io/covid-19/sharing/thumbnail.png">
	<meta property="og:description" content="یک راهنمای تعاملی">  <!-- TRANSLATE: content -->
	<meta property="og:site_name" content="بعدش چی میشه؟ آینده‌های محتمل برای کووید-۱۹، بر اساس شبیه‌سازی‌هایی بازی‌ناک<">  <!-- TRANSLATE: content -->
	
	<!-- Styles -->
	<link rel="stylesheet" href="css/littlefoot.css"/>
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171097189-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171097189-1');
</script>


</head>

<body>

<!-- - - - - - - - - - - - - - - - - - - - - - - -->
<!-- SIDEBARS  - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - -->



<!-- - - - - - - - - - - - - - - - - - - - - - - -->
<!-- THE ACTUAL ARTICLE - - - - - - - - - - - - - -->
<!-- COPY PASTE YOUR EXPORT FROM WORDS.MD INTO HERE - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - -->

<article>
	<div class="section">
	    <div>
	        <iframe id="splash" width="960" height="480" src="banners/splash.html"></iframe>
	        <div style="top: 70px;font-size: 75px;font-weight: bold;">
	            بعدش چی میشه؟
	        </div>
	        <div style="font-weight: 500;top: 140px;right: 10px;font-size: 29px;">
	           آینده‌های محتمل برای کووید-۱۹، بر اساس شبیه‌سازی‌هایی بازی‌ناک
	        </div>
	    </div>
	</div>

	<p>سلام!</p>

	<p>چیزی که در ادامه می‌بینید بخشی از یک شبیه‌سازی بازی طوره که یک برنامه‌نویس سال 99 برای توضیح آینده‌های احتمالی که برای کرونا ممکنه اتفاق بیفته و کارهایی که می‌تونیم براش انجام بدیم طراحی کرده.</p>

	<p>من اینجا فقط قسمتی از بخش اول توضیحاتش رو آوردم تا نمودارها و محدودیت رشد رو توش ببینید. اگر دوست دارید شبیه‌سازی کامل رو ببینید می‌تونید به <a href='https://raziehkouch.github.io/Covid/'>این لینک</a> سر بزنید. البته ترجمه‌اش جای بهتر شدن داره :)</p>

	<div class="section chapter">
	    <div>
	        <img src="banners/curve.png" height=480 style="position: absolute;" />
	        <div>شبیه‌سازی</div>
	    </div>
	</div>

	<p>خلبان‌ها از شبیه‌ساز پرواز استفاده می‌کنن تا یاد بگیرن چه جوری هواپیما‌شون سقوط نکنه!</p>

	<p><strong>همه‌گیرشناس‌ها، از شبیه‌ساز همه‌گیری استفاده می‌کنن تا بفمن چه جوری سقوط جامعهٔ‌ بشری رو رقم نزنن!</strong></p>

	<p>خب، بیاید خیلی خیلی ساده یه «شبیه‌ساز همه‌گیری» بسازیم! توی این شبیه‌سازی، افراد مبتلای مسری<icon i></icon> می‌تونن افراد مستعد<icon s></icon> رو تبدیل به افراد مبتلای مسری<icon i></icon> بیشتری کنن:</p>

	<p><img src="pics/spread.png" alt=""></p>

	<p>تخمین زده می‌شه که <em>در ابتدای</em> شیوع کووید-۱۹، به طور <em>میانگین </em> هر چهار روز، ویروس از یک<icon i></icon> به یک<icon s></icon>منتقل می‌شده.<sup id="fnref2"><a href="#fn2" rel="footnote">2</a></sup> (حواس‌تون باشه، آمار خیلی متغیره)</p>

	<p>اگه ما «هر ۴ روز دوبرابر شدن» رو برای جامعه‌‌ای که در ابتدا فقط ۰٫۰۰۱% جمعیتش مبتلا <span class="nowrap"><icon i></icon></span> هستن در نظر بگیریم، چه اتفاقی رخ می‌ده؟ </p>

	<p><strong>روی &quot;شروع&quot; بزن تا بتونی بازی کنی. راستی می‌تونی بعدش تنظیمات رو عوض کنی و دوباره بازی کنی:</strong> (جزئیات فنی: <sup id="fnref3"><a href="#fn3" rel="footnote">3</a></sup>)</p>

	<div class="sim">
	        <iframe src="sim?stage=epi-1" width="800" height="540"></iframe>
	</div>

	<p>این <strong>نمودار رشد نمایی</strong> هست. آروم شروع می‌شه و یهو منفجر می‌شه.از «بی‌خیال، فقط یه سرماخوردگی ساده‌‌اس» تا «اوه! آره، سرماخوردگی که گور دسته‌جمعی توی یه شهر بزرگ به وجود نمیاره!». </p>

	<p><img src="pics/exponential.png" alt=""></p>

	<p>اما، این شبیه‌سازی اشتباست. رشد نمایی، خوشبختانه، تا ابد ادامه پیدا نمی‌کنه. چیزی که جلوی شیوع ویروس رو می‌گیره اینه که اگه بقیه قبلا ویروس رو گرفته باشن: </p>

	<p><img src="pics/susceptibles.png" alt=""></p>
	
	<p>در واقع چون تعداد کل آدمهایی که ممکنه مبتلا به ویروس بشن محدوده و بی‌نهایت نیست، محدودیت در رشد اتفاق میفته و این رشد متوقف میشه.</p>

	<p>هرچی <span class="nowrap"><icon i></icon>ها</span> بیشتر باشن، سریعتر <span class="nowrap"><icon s></icon>ها</span> به <span class="nowrap"><icon i></icon>ها،</span>تبدیل میشن. <strong> ولی هرچی <span class="nowrap"><icon s></icon>ها</span> کمتر باشن، <em>آهسته تر</em> <span class="nowrap"><icon s></icon>ها</span> به <span class="nowrap"><icon i></icon>ها</span> تبدیل میشن.</strong></p>

	<p>خب این چه‌جوری رشد یک همه‌گیری رو تغییر می‌ده؟ بیایین ببینیم:</p>

	<div class="sim">
	        <iframe src="sim?stage=epi-2" width="800" height="540"></iframe>
	</div>

	<p>این منحنی «S - شکل» <strong>منحنی رشد لجستیک</strong> هستش. اول رشد نمایی اتفاق میفته و از وقتی محدودیت آشکار میشه، به صورت هدفجو ادامه پیدا میکنه تا روی هدف نهایی که منطبق محدودیته متوقف میشه.</p>

	<p>اما این شبیه‌سازی <em>همچنان</em> اشتباهه. ما این واقعیت رو در نظر نمی‌گیرم که افراد مبتلا<icon i></icon> نهایتا دیگه بیمار نخواهند بود. یا ۱)بهبود پیدا می‌کنن، ۲) یا با آسیب به ریه‌شون «بهبود» پیدا می‌کنن، یا ۳) می‌میرن.</p>

	<p>برای راحتی‌ کار، فرض کنید همهٔ افراد مبتلا<icon i></icon> به افراد بهبود یافته<icon r></icon> تبدیل می‌شن.(البته یادمون باشه در واقعیت متاسفانه تعدادی‌شون فوت کردن.) <span class="nowrap"><icon r></icon>ها</span>نمی‌‌تونن دوباره مبتلا بشن، و بیاید  <em>فعلا</em> وانمود کنیم در طول عمرشون از ابتلا به بیماری ایمن شدن.</p>

	<p>در مورد کووید-۱۹، تخمین زده می‌شه که شما برای ۱۰ روز مبتلا<icon i></icon> خواهید بود، به طور <em>میانگین</em>.<sup id="fnref4"><a href="#fn4" rel="footnote">4</a></sup> در نتیجه یه سری‌ها ممکنه قبل از ۱۰ روز بهبود پیدا کنن و یه سری‌ها بعدش. <strong>برای نشون دادن این موضوع، شبیه‌سازی زیر رو با ۱۰۰%  <span class="nowrap"><icon i></icon></span></strong> در نظر بگیرید:</p>

	<div class="sim">
	        <iframe src="sim?stage=epi-3" width="800" height="540"></iframe>
	</div>

	<p>این برعکس رشد نماییه، یه نمودار هدفجو که اولش با سرعت خیلی زیادی کم میشه و آروم آروم این سرعت کاهش پیدا میکنه.</p>

	<p>خوب به نظرتون چی می‌شه اگه این توابع «S-شکل» رشد و بهبود یافتن رو همراه همدیگه شبیه‌سازی کنیم؟</p>

	<p><img src="pics/graphs_q.png" alt=""></p>

	<p>بیاین بررسی کنیم.</p>

	<p><b style='color:#ff4040'>نمودار قرمز</b> در هر زمان داره موارد <em>فعال</em> فعلی<span class="nowrap"><icon i></icon> رو نشون میده،</span><br>
	<b style='color:#999999'>و نمودار طوسی پررنگ </b><em>مجموع</em> تمام مواردی که الان مبتلا هستن یا قبلا مبتلا بودن و الان بهبود یافتن (فعال<span class="nowrap"><icon i></icon></span> + بهبود یافته<span class="nowrap"><icon r></icon></span>) رو نشون میده.
	
	 موقع شروع فقط ۰٫۰۰۱٪ مبتلا <span class="nowrap"><icon i></icon>هستن:</span></p>

	<div class="sim">
	        <iframe src="sim?stage=epi-4" width="800" height="540"></iframe>
	</div>

	<p>و اینجاست که اون نمودار مشهور موج‌های کرونا ظاهر می‌شه! این یک منحنی زنگوله‌ای نیست، حتی یک منحنی «لگاریتمی-نرمال» نیست. اصلا اسمی نداره. ولی شونصد هزار بار دیدینش و التماس می‌کنن که صاف‌اش کنیم.</p>

	<p>این <strong>مدل SIR</strong> هست،<sup id="fnref5"><a href="#fn5" rel="footnote">5</a></sup><br>
	(مخفف <strong>S</strong>usceptible<icon s></icon> <strong>I</strong>nfectious<icon i></icon> <strong>R</strong>ecovered<icon r></icon>.)<br>
	این <em>دومین</em> اصل  مهمه در «مقدمه‌ای بر همه‌گیرشناسی»:</p>

	<p><img src="pics/sir.png" alt=""></p>

	<p><strong>توجه: شبیه‌سازی‌هایی که منجر به سیاست‌گذاری می‌شن، خیلی خیلی پیچیده‌تر از این هستن.</strong>  ولی مدل SIR همچنان می‌تونه یافته‌های عمومی رو توضیح بده، حتی اگه نکات ظریفی رو در نظر نگیره.</p>

	
	

	<div class="footnotes">
	<hr>
	<ol>

	<li id="fn1">
	<p>در این پانویس‌ها به بررسی منابع، ارجاعات و توضیحات تکمیلی می‌پردازیم، مثل این توضیح!<a href="#fnref1" rev="footnote">&#8617;</a></p>

	<p><strong>این راهنما در تاریخ ۱۲ اردیبهشت ۱۳۹۹ تدوین شده.</strong> برخی از جزئیات ممکنه قدیمی بشن، اما اطمینان داریم که ۹۵٪ آینده‌های ممکن رو پوشش می‌دیم، و مبحث «مقدمه‌ای بر همه‌گیرشناسی» برای همیشه مفید باقی خواهد ماند.</p>
	
		<p>(به‌روزرسانی ۲۶ اردیبهشت: اضافه کردن منابع برای «۱ نفر از هر ۲۰ نفر راهی بیمارستان می‌شن» و «۰.۵٪ افراد مبتلا فوت می‌کنن»)</p>
	</li>

	<li id="fn2">
	<p>« میانگین بازهٔ زمانی {متوالی} ۳.۹۶ روز خواهد بود (بازهٔ اطمینان ۹۵٪ بین ۳.۵۳ تا ۴.۳۹ روز)» <a href="https://wwwnc.cdc.gov/eid/article/26/6/20-0357_article">Du Z, Xu X, Wu Y, Wang L, Cowling BJ, Ancel Meyers L</a> (سلب مسئولیت: نسخهٔ اولیه مقالات نباید نسخهٔ نهایی آن‌ها تلقی شوند.)&nbsp;<a href="#fnref2" rev="footnote">&#8617;</a></p>
	</li>

	<li id="fn3">
	<p><strong>یادمون باشه: همهٔ‌ این شبیه‌سازی‌ها برای مقاصد آموزشی هستن و خیلی ساده‌سازی شدن.</strong>&nbsp;<a href="#fnref3" rev="footnote">&#8617;</a></p>

	<p>یکی از ساده‌سازی‌ها: وقتی در این شبیه‌سازی می‌گید: « ۱ فرد جدید رو هر X روز یک‌بار مبتلا می‌کنه»، در حقیقت تعداد افراد مبتلا هر روز <sup>1</sup>\<sub>X</sub> افزایش پیدا می‌کنه. برای تنظیمات آینده شبیه‌سازها هم همین برقراره - «هر X روز یک‌بار بهبود پیدا می‌کنه» در حقیقت تعداد افراد مبتلا رو هر روز <sup>1</sup>\<sub>X</sub> کاهش می‌ده.</p>

	<p>تعریف اصلی و تعریفی که در شبیه‌سازی‌ها وجود داره، <em>دقیقا یکی نیستند</em>، اما به اندازهٔ‌ کافی به هم شبیه‌اند، و برای اهداف آموزشی شیوهٔ استفاده شده ابهام کم‌تری نسبت به دخیل کردن دقیق نرخ انتقال/بهبودی به وجود میاره.</p>
	</li>

	<li id="fn4">
	<p>«دورهٔ میانهٔ انتقال {...} ۹.۵ روز بوده» <a href="https://link.springer.com/article/10.1007/s11427-020-1661-4">Hu, Z., Song, C., Xu, C. et al</a> بله، متوجه هستیم «میانه» با میانگین فرق‌داره، اما برای اهداف آموزشی ما، به اندازهٔ کافی به هم نزدیک هستند.&nbsp;<a href="#fnref4" rev="footnote">&#8617;</a></p>
	</li>

	<li id="fn5">
	<p>برای دیدن توضیحات فنی بیشتر در مورد مدل SIR، مطالب <a href="https://www.idmod.org/docs/hiv/model-sir.html#">موسسهٔ مدل‌کردن بیماری‌ها </a> و <a href="https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology#The_SIR_model">ویکی‌پدیا</a> رو ببینید.&nbsp;<a href="#fnref5" rev="footnote">&#8617;</a></p>
	</li>

	</ol>
	</div>


</article>

<!-- - - - - - - - - - - - - - - - - - - - - - - -->
<!-- THE FOOTER  - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - -->

<div id="footer">

	<div>
		<b>
			این صفحه بخشی از شبیه‌سازی آینده‌های محتمل برای کروناست که توسط نیکی کیس ساخته شده و توسط راضیه کوچک‌زاده برای استفاده در کلاس تفکر سیستمی گزینش شده.
		</b>
		
	</div>

</div>

<div id="footnotes_container">
	<h2 id='show_feetnotes_button'>(برای نمایش پانویس بزنید)</h2>
	<h2 id='shown_feetnotes'>پانویس‌ها:</h2-->
</div>

<div id="wash">
	دستاتونو رو بشورین! (ولی آب رو هدر ندید.) 👏
</div>


</body>

<script src="js/blerp.js"></script>
<script src="js/littlefoot.js"></script>
<script>
littlefoot.littlefoot({
	buttonTemplate:`
	<button
	  aria-controls="fncontent:<% id %>"
	  aria-expanded="false"
	  aria-label="Footnote <% number %>"
	  class="littlefoot-footnote__button"
	  id="<% reference %>"
	  rel="footnote"
	  title="See Footnote <% number %>"
	/>
	  <% number %>
	</button>
	`
});
</script>

</html>

